@use "variables" as *;

// Глобальні стилі
body {
	font-family: "Poppins", sans-serif;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
.divider {
	width: 60px;
	height: 3px;
	background-color: $main-color;
	margin: 25px auto 0 auto;
}
