// Конфігурація (змінні, міксини)
@use "base/variables";
@use "base/mixins";

// Бібліотеки
@use "libs/bootstrap-reboot.min";

// Блоки
@use "base/global";
@use "blocks/promo";
@use "blocks/title";
@use "blocks/button";
@use "blocks/sidepanel";
@use "blocks/menu";
@use "blocks/about";
@use "blocks/resume";
@use "blocks/skills";
@use "blocks/portfolio";
@use "blocks/hobbies";
@use "blocks/contacts";
@use "blocks/media";
