@use "base/variables" as *;

// Конфігурація (змінні, міксини)
@use "base/variables";
@use "base/mixins";

// Бібліотеки
@use "libs/bootstrap-reboot.min";

// Блоки
@use "blocks/promo";
@use "blocks/title";
@use "blocks/button";
@use "blocks/sidepanel";
@use "blocks/menu";
@use "blocks/about";
@use "blocks/resume";
@use "blocks/skills";

// Глобальні стилі
body {
	font-family: "Poppins", sans-serif;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
.divider {
	width: 60px;
	height: 3px;
	background-color: $main-color;
	margin: 25px auto 0 auto;
}
