@use "../base/variables" as *;

.btn {
	color: $black;
	height: 45px;
	background: $main-color;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	padding: 12px 25px;
	transition: all 0.25s ease;

	&:hover {
		color: $white;
		transform: scale(1.05);
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
	}
}
