@media (max-width: 1439px) {
	.sidepanel {
		display: none;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}

	.about {
		&__wrapper {
			grid-template-columns: 400px 520px;
		}

		&__skills {
			column-gap: 20px;
			grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);

			&-item {
				grid-template-columns: 40px 195px;
				gap: 15px;
			}
		}
	}

	.skills {
		&__ratings {
			grid-template: repeat(3, minmax(70px, auto)) / repeat(2, 350px);
			column-gap: 200px;
			justify-content: center;
		}
	}

	.hobbies {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 280px);
			grid-auto-rows: 280px;
			justify-content: space-around;
			row-gap: 35px;

			.horizontal,
			.vertical {
				grid-row: unset;
				grid-column: unset;
			}
		}
	}

	.contacts {
		&__wrapper {
			padding: 0;
			grid-template-columns: 400px 540px;
		}

		&__form {
			grid-template: 45px 190px 45px / repeat(2, 260px);
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}

	.title {
		&_fz36 {
			font-size: 30px;
		}
	}

	.about {
		padding-top: 80px;

		&__wrapper {
			grid-template-columns: 300px 380px;
		}

		&__skills {
			grid-template-columns: 380px;
			grid-auto-rows: minmax(115px, auto);

			&-item {
				grid-template-columns: 40px 320px;
				column-gap: 20px;
			}
		}
	}

	.resume {
		padding-top: 80px;

		&__wrapper {
			padding: 35px 10px 0 10px;
		}
	}

	.skills {
		padding-top: 80px;

		&__wrapper {
			padding: 35px 10px 0 10px;
			grid-template-columns: repeat(3, 1fr);
		}

		&__ratings {
			row-gap: 45px;
			margin-top: 60px;
			grid-template: repeat(6, minmax(70px, auto)) / repeat(1, 350px);
			column-gap: 200px;
			justify-content: center;

			&-item {
				grid-template: minmax(21px, auto) 14px / 200px 35px;
				row-gap: 27px;

				justify-content: space-between;
				align-content: normal;
			}
		}
	}

	.portfolio {
		padding-top: 80px;

		&__wrapper {
			padding: 0;
			grid-template-columns: repeat(auto-fit, 345px);
			margin-top: 35px;
		}
	}

	.hobbies {
		padding-top: 80px;
	}

	.contacts {
		&__wrapper {
			grid-template-columns: 1fr;
		}

		&__photo {
			display: none;
		}

		&__form {
			grid-template: 45px 190px 45px / repeat(2, 1fr);
			column-gap: 20px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
		margin-top: 165px;
	}

	.promo {
		padding-top: 60px;
	}

	.about {
		padding-top: 60px;

		&__wrapper {
			grid-template: 340px auto auto / 1fr;
		}

		&__photo {
			grid-row: unset;
		}

		&__skills {
			grid-template-columns: repeat(2, 260px);

			&-item {
				grid-template-columns: 40px 200px;
				column-gap: 20px;
			}
		}
	}

	.resume {
		padding-top: 60px;
	}

	.skills {
		padding-top: 60px;

		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.portfolio {
		padding-top: 60px;

		&__wrapper {
			justify-content: center;
		}
	}

	.hobbies {
		padding-top: 60px;

		&__wrapper {
			margin-top: 35px;
		}
	}

	.contacts {
		padding-top: 80px;
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 100%;
		padding: 0 10px;
	}

	.title {
		&_fz48 {
			font-size: 26px;
		}

		&_fz36 {
			font-size: 24px;
			line-height: 36px;
		}

		&__section-title {
			margin-bottom: 0;
		}

		&__section-subtitle {
			margin-top: 26px;
		}
	}

	.hamburger {
		right: 20px;
	}

	.menu {
		&__block {
			width: 250px;
			padding-left: 20px;
		}

		&__link {
			font-size: 23px;
		}
	}

	.divider {
		margin: 13px auto 0 auto;
	}

	.promo {
		&__title {
			line-height: 39px;
			width: 290px;
			margin-top: 20px;
		}

		&__btns {
			margin-top: 30px;
		}
	}

	.about {
		&__wrapper {
			grid-template: 340px auto auto / 1fr;
		}

		&__skills {
			grid-template-columns: 1fr;
		}

		&__subtitle {
			margin-top: 25px;
			margin-bottom: 14px;
		}
	}

	.resume {
		&__wrapper {
			padding: 21px 0 0 0;
			column-gap: 40px;
		}

		&__column {
			ul {
				padding: 30px 0 0 0;
			}

			li {
				margin-bottom: 30px;
			}
		}

		&__item {
			&-head {
				height: auto;
				min-height: auto;
				margin-bottom: 10px;
			}
		}
	}

	.skills {
		&__wrapper {
			padding: 21px 17px 0 17px;
			grid-template-columns: repeat(1, 1fr);
		}

		&__ratings {
			margin-top: 48px;
			grid-template-columns: 1fr;

			&-item {
				grid-template: minmax(21px, auto) 14px / 1fr auto;
			}

			&-line {
				width: 100%;
			}
		}
	}

	.portfolio {
		&__wrapper {
			margin-top: 21px;
			grid-template-columns: repeat(auto-fit, 280px);
		}
	}

	.hobbies {
		&__wrapper {
			margin-top: 21px;
			row-gap: 21px;
		}
	}

	.contacts {
		padding-bottom: 50px;

		&__form {
			grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
			column-gap: 0;
		}

		&__textarea {
			grid-column: unset;
			width: 100%;
		}

		&__triggers {
			grid-column: unset;
			grid-template-columns: 1fr;
			column-gap: unset;
			row-gap: 20px;
		}

		&__btn {
			order: 2;
			max-width: 220px;
			margin: 0 auto;
		}

		&__policy {
			white-space: nowrap;
			width: 180px;
			margin: 0 auto;
			line-height: 18px;
		}
	}
}
