@use "../base/variables" as *;
@use "../base/mixins" as *;

.promo {
	color: $white;
	min-height: 100vh;
	position: relative;
	background: url("../../img/main_bg.jpg") no-repeat 50% / cover;
	padding-top: 205px;

	&__subtitle {
		position: relative;
		padding-left: 10px;
		z-index: 2;
		@include before_circle;
	}

	&__title {
		margin-top: 10px;
	}

	&__btns {
		margin-top: 25px;
		display: flex;
		width: 250px;
		align-items: center;
		justify-content: space-between;
	}

	&__link {
		font-weight: bold;
		color: $white;
		text-decoration: none;
		transition: color 0.2s ease;

		&:hover {
			text-decoration: none;
			color: $main-color;
		}
	}
}
