@use "../base/mixins" as *;
@use "../base/variables" as *;

.resume {
	padding-top: 120px;

	&__wrapper {
		display: grid; // Grid для можливих 2ох колонок у майбутньому
		grid-template-columns: repeat(
			1,
			1fr
		); // змінити на `repeat(2, 1fr)` для 2ох
		column-gap: 135 px;
		padding: 60px 250px 0 250px;
	}

	&__column {
		&-title {
			position: relative;
			padding-left: 35px;
			margin-bottom: 0;

			&:before {
				content: "";
				position: absolute;
				width: 15px;
				height: 15px;
				background: $main-color;
				border-radius: 100%;
				left: -7px;
				top: 50%;
				transform: translateY(-50%);
				z-index: 2;
			}
		}

		ul {
			list-style-type: none;
			padding: 55px 0 0 0;
			margin: -15px 0 0 0;
			border-left: 1px solid $black;
		}

		li {
			position: relative;
			margin-bottom: 45px;

			// Горизонтальна лінія (відгалуження)
			&:before {
				content: "";
				position: absolute;
				width: 40px;
				height: 1px;
				background-color: $black;
				top: 18px;
				left: 0;
			}
		}
	}

	&__item {
		position: relative;

		&-icon {
			position: absolute;
			left: 45px;
			top: 0;
			@include before_circle;

			&:before {
				top: 0;
				left: -5px;
			}

			img {
				position: absolute;
				left: 10px;
				top: 14px;
			}
		}

		&-head {
			position: relative;
			padding-left: 96px;
			height: 36px;
			display: flex;
			flex-direction: column;

			h4 {
				margin-bottom: 0;
			}
		}

		&-location {
			font-size: 12px;
			line-height: 18px;
		}

		&-body {
			padding-left: 42px;
			margin-top: 12px;
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 0px;
		}
	}
}
