@use "../base/variables" as *;

.sidepanel {
	color: $white;
	position: fixed;
	top: 200px;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: 3;
	transition: all 0.6s;

	&__link {
		margin-bottom: 20px;

		img {
			width: 20px;
			display: block;
			transition:
				filter 0.6s,
				transform 0.3s;

			&:hover {
				transform: scale(1.2);
			}
		}
	}

	&_black {
		.sidepanel__text span {
			color: $black;
		}

		.sidepanel__divider {
			background-color: $black;
		}

		.sidepanel__link img {
			filter: invert(100%) brightness(0);
		}
	}

	&__divider {
		width: 2px;
		height: 80px;
		background-color: $white;
		transition: background-color 0.6s;
		margin-bottom: 20px;
	}

	&__text {
		span {
			display: block;
			color: $white;
			transition: color 0.6s;
			writing-mode: vertical-rl;
			transform: rotate(180deg);
		}
	}
}
