@use "../base/variables" as *;

.sidepanel {
	color: $white;
	position: fixed;
	top: 200px;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 300px;
	z-index: 3;

	&__link {
		img {
			width: 20px;
		}
	}

	&__divider {
		width: 2px;
		height: 70px;
		background-color: $white;
	}

	&__text {
		height: 110px;
		width: 25px;
		span {
			transform: rotate(-90deg) translate(-30%, -260%);
			display: block;
			width: 150px;
		}
	}
}
