@use "../base/mixins" as *;
@use "../base/variables" as *;

.skills {
	padding-top: 120px;

	&__title {
		position: relative;
		text-align: center;
		@include before_circle;

		&:before {
			top: -6px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__subtitle {
		text-align: center;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: minmax(270px, auto);
		justify-content: center;
		gap: 13px;
		padding: 60px 10px 0 10px;
	}

	&__item {
		border: 1px solid $black;
		padding: 30px 30px 25px 30px;

		&-icon {
			display: flex;
			align-items: center;
			height: 65px;

			img {
				height: 100%;
				width: auto;
				object-fit: contain;
				max-width: 100%;
			}
		}

		&-name {
			padding-top: 20px;
			margin-bottom: 0px;
		}

		&-description {
			padding-top: 15px;
			font-size: 12px;
		}
	}

	&__ratings {
		margin-top: 120px;
		display: grid;
		grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
		column-gap: 45px;
		row-gap: 35px;

		&-item {
			display: grid;
			grid-template: minmax(21px, auto) 14px / 200px 35px;
			justify-content: space-between;
			align-content: space-between;
		}

		&-title {
			position: relative;
			padding: 2px 0 0 13px;

			@include before_circle;
		}

		&-counter {
			font-size: 14px;
			line-height: 21px;
		}

		&-line {
			width: 350px;
			height: 14px;
			background-color: #e8e4de;
			border-radius: 4px;
			grid-column: 1 / 3;

			span {
				display: block;
				height: 100%;
				background-color: $main-color;
				border-radius: 4px;
			}
		}
	}
}
